@import "../../../../layouts/styles/PageLayout.module.scss";
@import "../../../../../styles/theme/Utils.module.scss";
@import "../../../../../styles/theme/Default.module.scss";

.projectsSection {
  @extend %pagePaddingX;
  width: 100%;

  @include isSmallerRange{
    padding-top: 3rem;
  }

  &_bg {
    @include heroAndProjects_bg(180deg, 100%);
  }

  &_title {
    @media (max-width: $md) {
      font-size: var(--title-size-md);
      text-align: center;
      padding: 0rem;
    }
  }

  &_projects {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 2rem;
    
    @media (max-width: $md) {
      display: block;
      margin-top: 0rem;
    }
    
    @include isSmallerRange {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 2rem;
      margin-bottom: 2rem;
      gap: 2rem;
    }
  }

  &_project {
    width: 300px;

    @include isSmallerRange {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
