@import "../../../../layouts/styles/PageLayout.module.scss";
@import "../../../../../styles/theme/Utils.module.scss";
@import "../../../../../styles/theme/Default.module.scss";

.projectsSection {
  @extend %pagePaddingX;

  background: linear-gradient(120deg, white, transparent, #f6f2f2);
  padding: 1rem;
  border: 2px solid white;
  border-radius: 1rem;
  box-shadow: 0 10px 10px -3px #e0e0e0;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include isMobile {
    background: none;
    padding: 0rem;
    border: none;
    border-radius: 0rem;
    box-shadow: none;
  }

  &_bg {
    @include heroAndProjects_bg(180deg, 100%);
  }

  &_title {
    font-size: var(--title-size);
    margin-left: 1.5rem;
    font-weight: 400;

    @media (max-width: $md) {
      font-size: var(--title-size-md);
      text-align: center;
      padding: 0rem;
    }

    &_bold {
      font-weight: bold;
    }
  }

  &_projects {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @media (max-width: $md) {
      display: block;
    }
  }

  &_cardWrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    border-radius: 5rem;
    margin-bottom: 2rem;
  }
}
