@import "../../../../layouts/styles/PageLayout.module.scss";
@import "../../../../../styles/theme/Utils.module.scss";
@import "../../../../../styles/theme/Default.module.scss";

.projectsSection {
  @extend %pagePaddingX;

  @include isMobile {
    background: none;
    padding: 0rem;
    border: none;
    border-radius: 0rem;
    box-shadow: none;
  }

  &_bg {
    @include heroAndProjects_bg(180deg, 100%);
  }

  &_title {
    font-size: var(--title-size);
    margin-left: 1.5rem;
    font-weight: 400;

    @media (max-width: $md) {
      font-size: var(--title-size-md);
      text-align: center;
      padding: 0rem;
    }

    &_bold {
      font-weight: bold;
    }
  }

  &_projectsWrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_projects {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 2rem;

    @media (max-width: $md) {
      display: block;
      margin-top: 0rem;
    }
  }

  &_project{
    width: 300px;
    
    &_md{
      width: 350px;
    }
  }

  &_cardWrapper {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    border-radius: 5rem;
    margin-bottom: 2rem;
  }
}
