@use "../../../styles/theme/Utils.module.scss";

.whatsappBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;

  box-shadow: -0.3rem 0.3rem 1.2rem #0f301a8d;
  border-radius: 100%;
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;

  &_icon {
    float: left;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: #23ae56;
    color: white;
    transition: ease-in 150ms;

    &:hover {
      background-color: #26c360;
    }
  }
}
