@import "../../../../styles/theme/Default.module.scss";
@import "../../../../styles/theme/Utils.module.scss";

.aboutUsHero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5rem;

  &_hero_content {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    @include isMobile {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 2.5rem;
    }
  }

  &_title_highlight {
    @extend %text-gradient-primary;
  }
}
