@use "../../../../styles/theme/Default.module.scss";
@use "../../../../styles/theme/Utils.module.scss";

.infoHeroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  
  &_content {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  &_title {
    text-align: center;

    &_highlight {
      @extend %text-gradient-primary;
    }
  }

  &_subtitle {
    color: var(--subtitle-color);
    text-align: center;
  }

  &_childrenWrapper {
    width: 100vw;
    background-color: var(--color-dark-primary);
    background-image: linear-gradient(
      90deg,
      #00193d,
      var(--color-dark-primary),
      var(--color-dark-primary),
      #00193d
    );
    padding: 2rem;
    margin-top: 2rem;
  }

  &_children {
    @extend %pagePaddingX;
  }
}
