.tag {
  font-weight: 400;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  display: inline-block;

  &_blue {
    background-color: var(--color-light-blue);
    color: var(--color-primary);

    &_darkMode {
      background-color: #3a4956;
      color: var(--color-primary-hover);
    }
  }

  &_green {
    background-color: var(--color-light-green);
    color: var(--color-green);

    &_darkMode {
      background-color: #3a4956;
      color: #8bf502;
    }
  }

  &_yellow {
    background-color: #fffd9d;
    color: #c39900;

    &_darkMode {
      background-color: #3a4956;
      color: #ffff02;
    }
  }
}
