@import "../../../../../styles/theme/Utils.module.scss";

.theMostForMoneySection {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;

  &_content {
    @extend %pagePaddingX;
  }

  &_imageWrapper {
    @media (min-width: $sm) and (max-width: $md) {
      display: flex;
      margin-top: -3rem;
      justify-content: center;
    }

    @media (min-width: $md) {
      position: absolute;
      top: 45%;
      right: 5%;
    }

    @media (min-width: $lg) {
      position: absolute;
      top: 45%;
      right: calc(100vw / 2 - $lg / 2);
    }
  }
}
