@import "../../../../layouts/styles/PageLayout.module.scss";
@import "../../../../../styles/theme/Default.module.scss";
@import "../../../../../styles/theme/Utils.module.scss";

.mainPainPoints {
  padding-top: 7rem;
  padding-bottom: 7rem;
  @extend %pagePaddingX;

  display: grid;

  @media (min-width: $xs){
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }

  @media (min-width: $sm){
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;
  }

  @media (min-width: $md){
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  &_painPoint {
    border-left: 0.1rem solid rgba(#f6f2f2, 0.2);
    padding-left: 1rem;
    color: white;
    
    &Title {
      font-size: larger;
      font-weight: bold;
      color: white;
      
      &_withIcon {
        display: flex;
        gap: 0.5rem;
      }
    }
    
    &Icon {
      width: 1.2rem;
    }
    
    &Paragraph {
      color: white;
      margin-top: 1rem;
    }
  }
}
