@import "../../../../../styles/theme/Utils.module.scss";

.mediaSlider {
  width: 100%;
  height: 450px;

  @include isMobile {
    height: 300px;
  }

  &_carousel {
    position: relative;

    &_date {
      font-size: 0.8rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &_button {
    position: absolute;
    top: 50%;
    padding: none;
    border: none;
    padding-top: 0.2rem;
    background-color: rgba(0, 0, 0, 0.463);
    z-index: 2;
    cursor: pointer;

    &_right {
      right: 0;
    }
  }

  &_buttonIcon {
    width: 20px;
    height: 20px;
    color: white;
  }

  &_slider {
    width: 100%;
    height: 100%;
  }

  &_opinion {
    padding: 0 2rem 0 2rem;
    text-align: center;

    @include isSmallerRange {
      text-align: left;
    }
  }
}
