@import "../../../../layouts/styles/PageLayout.module.scss";
@import "../../../../../styles/theme/Default.module.scss";
@import "../../../../../styles/theme/Utils.module.scss";

.faqs {
  @extend %pagePaddingX;

  padding-top: 4rem;
  color: var(--color-surface);

  @include isMobile {
    width: 100%;
  }

  &_title {
    font-size: var(--title-size);
    padding-bottom: 1rem;
  }

  &_wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    @include isSmallerRange {
      padding-bottom: 0rem;
    }
  }

  &_question {
    cursor: pointer;
    background-color: rgba(#02b3e8, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    color: white;
    font-size: larger;
    font-weight: bold;

    @include isSmallerRange {
      line-height: 4rem;
    }

    @include isMobile {
      line-height: 3rem;
      padding: 0.8rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1.2rem;
    }
  }

  &_answer {
    width: 70%;

    @include isMobile {
      width: 100%;
    }

    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
  }
}
