@use "../../../../layouts/styles/PageLayout.module.scss";
@import "../../../../../styles/theme/Default.module.scss";
@import "../../../../../styles/theme/Utils.module.scss";

.faqs {
  @extend %pagePaddingX;

  padding-top: 4rem;
  color: var(--color-surface);

  @include isMobile {
    width: 100%;
  }

  &_title {
    font-size: var(--title-size);
    padding-bottom: 1rem;
    color: white;
  }
  
  &_wrapper {
    background-color: rgba(#02b3e8, 0.1);
    border-radius: 0.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    /*  width: 50%; */
    @include isSmallerRange {
      width: 100%;
    }
  }
  
  &_question_container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    cursor: pointer;
    column-gap: 1rem;
  }
  
  &_question {
    cursor: pointer;
    border-radius: 0.5rem;
    color: white;
    font-size: larger;
    font-weight: bold;
    
    @include isMobile {
      font-size: 1rem;
    }
  }
  
  &_icon {
    width: 1.8rem;
    height: 0rem;
    
    @include isMobile { 
      width: 1rem;
    }
  }
  
  &_answer {
    width: 100%;
    color: white;

    @include isMobile {
      width: 100%;
    }

    @include isSmallerRange {
      font-size: 1rem;
    }

    margin-top: 1rem;
    margin-bottom: 1rem;
    /* padding-left: 1rem; */
  }
}
