$color: #294367;

.dashedLine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;

  &__line {
    border-right: 3px dashed $color;
  }

  &__line_rounded_right {
    border-right: 3px dashed $color;
    border-bottom: 3px dashed $color;
    border-bottom-right-radius: 7rem;
  }
}
