@import "../../../../styles/theme/Utils.module.scss";


.proTag {
  position: relative;

  height: 70px;
  width: 140px;

  @include isLarge {
    height: 55px;
    width: 110px;
  }
  
  @include isMediumRange {
    height: 55px;
    width: 110px;
  }
 
  @include isSmallerRange {
    height: 35px;
    width: 70px;
  }
  
  @include isMobile {
    height: 27px;
    width: 53px;
  }

  &__container {
    position: relative;
    height: 100%;
    border-radius: 0.3rem;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.532),
      rgba(255, 255, 255, 0.093),
      rgba(255, 255, 255, 0.474)
    );

    @include isMobile {
      border-radius: 0.1rem;
    }
  }

  &__container_content {
    position: absolute;
    inset: 0;
    margin: 1px;
    border-radius: 0.3rem;
    background-color: #19273e;

    @include isMobile {
      border-radius: 0.1rem;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem !important;
    font-weight: 100;
    letter-spacing: 0.3rem;
    margin-left: 0.2rem;
    height: 100%;
    width: 100%;
    
    @include isLarge {
      font-size: 2.7rem !important;
    }
    
    @include isMediumRange {
      font-size: 2.7rem !important;
    }
    
    @include isSmallerRange {
      letter-spacing: 0.2rem;
      font-size: 1.6rem !important;
    }

    @include isMobile {
      font-size: 1.2rem !important;
      margin-left: 0.1rem;
    }
  }
}
