$white: #ffffff;
$black: #0e0e0f;

//? Light theme
$primary-color: #02b3e8;
$primary-color-hover: #1ecbff;

$text-color: #2d3038;
$subtitle-color: #677b86;

$background-color: #FFFFFF;

$surface-color: #E2E9ED;

$card-color: #FFFFFF;

$highlight-color: #40C52B;

//? Dak theme
$primary-color-dark: #009ddd;
$primary-color-dark-hover: $primary-color;

$text-color-dark: white;
$subtitle-color-dark: #b6cef1;

$background-color-dark: #010F24;

$surface-color-dark: #122745;

$card-color-dark: #294367;

$highlight-color-dark: #8BF502;