@use "../styles/theme/Default.module.scss";
@use "../styles/theme/Utils.module.scss";

.acordion{
    width: 90%;
    /* overflow-y: scroll;  */
    height: 70vh;
    border-radius: 10px;
}

.acordion::-webkit-scrollbar {
    display: none;
  } 

.acordionContainer{
    width: 750px;
    padding-top: 3rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--whitegray_);
}

.acordionContainer > h2, 
.preciosPro_subtitle{
    color: var(--blue);
    font-size: 2rem;
    margin-bottom: 3rem !important;
    text-align: center;
    border-radius: 10px;
    padding: .5rem !important;
}

.acordionContainer > h3{
    color: #d0e919;
}

.acordionItem{

   
    //background-color: var(--whitegray_);
    padding: 0.3rem !important;
    width: 100%;
}

.acordionLink{
    font-size: 1rem;
    font-weight: 600;
    color: var(--blue);
    text-decoration: none;
    //background-color: var(--whitegray_);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem 1rem !important;
    cursor: pointer;
    text-align: left;
}


.acordionTextContent{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
}

.showTextContent{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s;

    //background-color: var(--whitegray_);
    padding: .3rem 0 .3rem 1rem;
    border-radius: 5px;
}

.showTextContent >p{
    margin-bottom: 10px !important;
    text-align: left;
    color: var(--color-surface);
    font-size: .9rem;
    font-weight: 500;
}

.acordionInsideItemSecundary{
    color: #3dae2b;
    padding-left: 15px !important;
}

.showTextContent h4{
    font-size: 2rem;
    color: #3dae2b;
}

@media only screen and (min-width: 360px) and (max-width: 991px){
    .acordion{
        height: fit-content;
        width: 100%;
    }
    .acordionLink{
        padding-left: 5px !important;
    }
}