.dace{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 150px;
    height: 40px;
    width: 65px;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}