.simple_card{
    width: 220px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: var(--white);
    padding: 5px;
    border-radius: 5px;
}

.simple_card_header{
   /*  background-color: var(--blue); */
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    place-content: center;
    margin-bottom: .5rem;
    & h1{
        font-size: 1rem;
        color: var(--blue);
        font-weight: 700;
    }
}

.simple_card_text{
    & p{
        color: var(--black);
        font-size: .9rem;
        font-weight: 400;
    }
}


// Step -- Card //@at-root
.step_card{
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;  
    place-content: center;  
    position: relative;
    margin: 10px;
}


.arrow_fixed{
    position: absolute;
    top: 0px ;
    left: 50%;
    z-index: -10;
    height: fit-content;
    border: 1px solid red;
}
.arrow_fixed_icon{
     font-size: 10rem;
     color: var(--blue);
}

@media only screen and (min-width: 360px) and (max-width: 991px){
    .simple_card{
        width: 100%;
    }

    .simple_card_header{
        grid-template-columns: 1fr 4fr;
    }
}



