.carrousel_container {
  height: 12rem;
  width: 100%;
  background-color: transparent;
}

.carrousel {
  &_date {
    font-size: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.paper {
  background-color: transparent;
  box-shadow: none !important;
  padding: 5px;
  & h2 {
    color: var(--blue);
    font-size: 1rem;
  }

  & p {
    color: var(--black);
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 360px) and (max-width: 991px) {
  .carrousel_container {
    height: 250px;
  }
}
