.InvestmentForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
}

.input_container{
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
    text-align: left;
    & span{
        font-size: 1.2rem;
        color: var(--blue);
        font-weight: 500;
    }
    
    & input{
        height: 50px;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1.2rem;
        outline: none;
        &:focus {
            outline: none;
        }

        &:active { 
            border: none;
        }

        &:valid {
            background: 0 0 0px 1000px #fff inset;
            color: var(--black);
        }

        &::placeholder{
            color: var(--white);
        }

    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    }

    & textarea{
        height: 100px;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        scroll-behavior: smooth;;
        outline: none;
        &:focus {
            border: none;
        }

        &:active { 
            border: none;
        }
        &::placeholder{
            color: var(--white);
        }
    }

    & input, textarea{
        background: var(--blue);
        box-shadow: inset 7px 7px 14px #00a4d6,
        inset -7px -7px 14px #00e2ff;
        color: var(--white) !important;
        font-weight: 400;
    }

    & input[type='checkbox']{
        height: 2rem !important;
        width:  2rem !important; 
        box-shadow: none;   
    }   
}

.button{
    height: 50px;
    width: 100%;
    background: var(--blue);
    color: var(--white);
    border-radius: 10PX;
    display: grid;
    place-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    box-shadow: -1.5px -1.5px 3px rgba($color: #000000, $alpha: .5);
    cursor: pointer;
    margin-top: 1.2rem;
}

.input_container_checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 

    & p{
        color: var(--black);
        & a{
            font-weight: 500;
        }
    }
}
.OwnerForm{
    height: 100%;    
    display: grid;
    place-items: start;
    padding: 1rem;
    border-radius: 5px;

    & h1{
        text-align: left;
        width: 100%;
        color: var(--black);

        & span{
            color: var(--blue);
        }
    }
}

.owner_form_container{
    width: 100%;
}

.radio_group{
    padding: 1rem;
    width: 100%;
}

.option{
    height: 50px;
    width: 100%;
    border: .5px solid var(--blue);
    border-radius: 5px;
    font-size: 1.3rem;
    padding-left: 1rem;
}

.bgFull{
    box-shadow: -1.5px -1.5px 3px rgba($color: #000000, $alpha: .5);
    background-color: var(--blue);
    color: var(--white);
}

.green_bg_button{
    background: var(--green);
    color: var(--white);
}

@media only screen and (min-width: 360px) and (max-width: 991px){
    .input_container{
        & input, textarea{
            font-size: 1rem;
        }
    }
    .input_container_checkbox{
        & p{
            font-size: .7rem;
        }
    }   
}


