.header_page{
    height: 10vh;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px var(--gray);
    position: fixed; 
    top: 0;
    z-index: 10000; 
    background-color: var(--white);
    padding-left: 1rem;
    padding-right: 1rem;
    opacity: 1;
    transition: .2s all ease-in-out;
}

.header_page_links_container_burger_container{
    display: none;
}

.logo_container{
    cursor: pointer;
}
.display_active{
    transition: .2s all ease-in-out;
    min-width: 20%;
    right: 0;
    border-bottom-left-radius: 7px;
    gap: 1rem;
}
.back_btn {
    display: inline-block;
    padding: 12px 18px;
    background-color: var(--blue);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
.links_list{
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 0px 1rem 0 2rem;
}

.nav_link{
    background-color: var(--blue);
    font-size: 1.2rem;
    padding: .5rem;
    color: #fff;
    transition: .3s all;
    cursor: pointer;
}

.nav_link:hover{
    background-color: var(--white);
    color: var(--blue);
}

.header_page_links_container{
    display: flex;
    align-items: center;
    gap: 1rem;

    & a{
        text-decoration: none;
    }
    & h3{
        font-size: 1rem;
        font-weight: 500;
        color: var(--black);
        text-align: right;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: var(--white);
        padding: .2rem .2rem .2rem .5rem;
        width: fit-content;
        display: flex;
        gap: .2rem;
        align-items: center;
        cursor: pointer;
        
        & span{
            color: var(--blue);
            padding-top: 4px;
            font-size: 1.5rem !important;
        }
        
    }
}

.header_page_social_links_container{
    border-left: 2px solid var(--black);
    width: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .icon{
        font-size: 30px;
        color: var(--black);
        transition: .2s all ease-in-out;
    }

    & .face_icon:hover{
        color: #3b5998;

    }
    & .insta_icon{
        filter: brightness(0%);
    }
    & .insta_icon:hover{
        filter: brightness(100%);
    }
}

.header_page_links_container_burder_active{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.header_page_title{
    color: var(--blue) !important;
    font-size: 2rem;
}

.link_container_laptop{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .2rem;
    z-index: 100;
    top: 10.3vh;
    right: 0;

    & h3{
        font-size: 1rem;
        font-weight: 500;
        color: var(--black);
        text-align: right;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: var(--white);
        padding: .2rem .2rem .2rem .5rem;
    }

    & span{
        color: var(--blue);
        padding-top: 4px;
        margin-right: 5px;
        font-size: 1.7rem;
    }
    
    & .face_icon{
        font-size: 30px;
        color: #3b5998;
        margin-right: 5px;
    }

    .active_header{
        display: none !important;        
    }
    
}

.link_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: .2rem;
    z-index: 100;
    top: 10.3vh;
    right: 0;

    & h3{
        font-size: 1rem;
        font-weight: 500;
        color: var(--black);
        text-align: right;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: var(--white);
        padding: .2rem .2rem .2rem .5rem;
        width: fit-content;
        display: flex;
        align-items: center;
        & span{
            color: var(--blue);
            padding-top: 4px;
            margin-right: 5px;
        }
        
    }

    & .face_icon{
        font-size: 30px;
        color: #3b5998;
        margin-right: 5px;
    }
}
 
@media only screen and (min-width: 360px) and (max-width: 991px){
    .links_list{
        display: none;
    } 

    .back_btn{
        font-size: .8rem;
        width: fit-content;
        padding: 5px 5px;
    }
    .header_page_links_container{
        flex-direction: column;
        align-items: flex-end;
        gap: 2px;
        & span{
            font-size: .8rem;
        }
    }

    .header_page_title{
        font-size: .8rem;
        text-align: center;
    }
    
}   

@media only screen and (min-width: 300px) and (max-width: 991px){
    .display_active{
        opacity: 0;
    }
    .header_page_links_container{
        display: none;
    }

    .header_page_links_container_burger_container{
        position: relative;
        display: flex;
    }

    .heder_page_btn_burger{
        width: 30px;
        height: 2px;
        background: var(--black);
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);  
        transition: all 0.2s ease-in-out;
    }
    
    .heder_page_btn_burger::before,
    .heder_page_btn_burger::after{
        content: '';
        position: absolute;
        height: 2px;
        background: var(--blue);
        border-radius: 3px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);  
        transition: all 0.3s ease-in-out;
        width: 35px;
    }
    
    .heder_page_btn_burger::before{
        transform: translateY(-8px);
        background: var(--grayform);

    }
    .heder_page_btn_burger::after{
        transform: translateY(8px);
    }
    
    .header_page_burger.open .heder_page_btn_burger{
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    
    .header_page_burger.open .heder_page_btn_burger::before{
        transform: rotate(45deg) translate(35px, -35px);
        width: 30px;
        background: var(--blue);

    } 
    .header_page_burger.open .heder_page_btn_burger::after{
        transform: rotate(-45deg) translate(35px, 35px);
        background-color: var(--black);
        width: 30px;
    } 

    .header_page_links_container_toggle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        width: 100vw;
        align-items: flex-end;
    }


}   