@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
.active{
    & .logoContent > h1{
        color: #0c334a;
        font-size: 1.3rem;
    }
    & .logo > p{
        font-size: .6rem;
    }
}

.logo{
    display: block;
    cursor: pointer;
    transition: .5s all ease-in-out;
    font-family: 'Michroma', sans-serif;
}

.logoContent{
    display: flex;
    align-items: center;
}

.logoContent > h1{
    color: #fff;
    font-size: 2rem;
    margin-left: .5rem;
}

.logo > p{
    color: #0c334a;
    font-size: .8rem;
}

.biglogo_container{
    background-color: #0c334a56;
    padding: 1rem;
    width: fit-content;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}
.bigLogo > p{
    color: #fff;
    font-size: 1.8rem;
    width: 100%;
}

.bigLogoContent {
    & h1{
    color: #fff;
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px #000000;
    }
}

.logo_image_container_{
    display: none;
}

@media only screen and (max-width: 900px){


    .logo_image_container{
        display: none;
    }

    .logo_image_container_{
        display: contents;
    }

    .logoContent > h1{
        font-size: 1.5rem;
    }

    .logo > p{
        font-size: .7rem;
    }
 

    .biglogo_container{
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    }

    .bigLogo > p{
        font-size: 1rem;
    }
}