.steps_container{
    display: flex;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    height: 100%;
}

.HorizontalSteper_step{
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 100%;
  gap: 1rem;
}



.image_container{
    height: 70px;
    width: 70px;
    position: relative;
}
.text_container{
    display: block;
    align-content: center;
    & h1 {
        font-size: 1rem;
        font-weight: 500;
        color: var(--blue);
        text-align: left;

    }
    & p{
        color: var(--black);
        font-size: .9rem;
        text-align: left;

    }
}
 
.step{
    position: relative;
    border: .5px solid var(--blue);
    border-radius: 7px;
    width: 250px;
    height: 100%;
}

.simple_step_container{
    width: fit-content;
    align-items: center;
    display: flex;
    height: 100%;
}

.card_step_header{
    display: flex;
    align-items: center;
    height: 100px;
}
.simple_step{
    height: 320px;
    position: relative;
    width: 200px;
    text-align: center;
}
.step_no_border{
    border-right: none !important;
}

.simple_step_label{
    border: 1px solid  rebeccapurple;
    text-align: center !important;
}
.simple_step_title{
    font-size: 1rem !important;
    width: auto;
    text-align: center;
}

.step_title{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 700;
}

.step_p, .step_p_v{
    font-size: 1rem;
    color: var(--black);
    font-weight: 500;
}

.step_image{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 7px;
    top: -80px;
    height: 80px;
    width: 220px;
}

.vertical_steper_container{
    width: 100%;
}

.vertical_step{
    position: relative !important;
    border-bottom: .5px solid var(--blue);

    & .v_step_imagen_container{
        position: absolute;
        left: -75px;
    }
}


.step_p_v{
    text-align: left;
}

.step_no_border_v{
    border-bottom: none !important;
}

 .card_step{
    background: linear-gradient(145deg, #00d1ff, #00b0e6);
    box-shadow: inset 8px 8px 20px #00a2d4,
                inset -8px -8px 20px #00e4ff;
    height: 100%;
    border-radius: 7px;
    & .step_title{
        color: var(--white);
    }
    & .step_p{
        padding: 10px;
        text-align: left;
        font-size: 1.1rem;
    }
 }

 .vertical_card_step{
    display: flex;
    align-items: center;
    & .steper_text_container{
        flex: 1;
    }
    & .card_image_container{
        flex: .5;
    }
    
}


@media only screen and (min-width: 320px) and (max-width: 991px){
    .steps_container{
        flex-wrap: wrap;
    }
    .image_container{
        height: 50px;
        width: 50px;
    }
    .step{
       width: 100%;
       height: fit-content;
    }

    .card_step_header{
        height: fit-content;
    }
    .step_image{
        top: -50px;
        width: 50px;
    }

   
    .step_title{
        font-size: 1.5rem;
    }


    .card_step{
        min-height: fit-content;
        padding: 1rem 0 1rem 0;
    }
}