@import "../../../styles/theme/Utils.module.scss";

.footer {
  background-color: var(--color-dark-primary);
  color: white;
  

  &_copyright_content {
    text-align: center;
    padding: 1rem 0;
    font-size: .85rem;
    background-color: rgba(#02b3e8, 0.1);
    color: white;
  }

  &_copyright{
    color:white;
  }

  &_content {
    @extend %pagePaddingX;
    padding: 1rem 0rem;
    
    @include isMediumRange {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include isLargerRange {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &_logo{
    cursor: pointer;
  }
}
